@model IEnumerable<bookfortable.Models.Question>

@{
    ViewData["Title"] = "Index";
    Layout = "_FrontLayout";
}
<style>
    
    .bear_tx {
        background-color: #4CAF50; /* 設置按鈕的背景顏色 */
        color: white; /* 設置按鈕文字顏色 */
        padding: 10px 20px; /* 設置按鈕的填充 */
        text-align: center; /* 文字居中對齊 */
        display: inline-block; /* 使按鈕以行內元素顯示，以便設置寬度和高度 */
        border-radius: 5px; /* 圓角設置 */
        text-decoration: none; /* 移除下劃線 */
       
    }

    .bear_tx:hover {
        background-color: #45a049; /* 鼠標懸停時的背景顏色 */
    }
    .back{
        background-image: url('/img/back2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-color: rgba(255,255,255,0.7);
        height:800px;
    }

    .row:mt-5:mb-5 {
        height:500px;
    }

   
</style>


<section class="latest spad back">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-lg-12">
                <div class="section-title">
                    <span class=""></span>
                    <h2>讓我們為您縮小範圍，挑選出最合適的盲包選擇，不論送禮對象的年齡或是您們處於的關係。</h2>
                </div>
            </div>
        </div>

    </div>
    <div class="aaa mt-5 mb-5">
        <a href="Question">  <div class="bear_tx">開始 </div> </a>
    </div>
</section>