@model bookfortable.Models.BookTag

@{
    ViewData["Title"] = "Edit";
}

<h1>書的標籤修改</h1>

<h4>請輸入書的標籤</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="BtagId" value="@Model.BtagId"/>
            <div class="form-group">
                <label asp-for="BtagName" class="control-label"></label>
                <input asp-for="BtagName" class="form-control" />
                <span asp-validation-for="BtagName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="儲存" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">取消</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
