@model bookfortable.Models.TempBox

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TempBox</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookTag2string)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookTag2string)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.BoxId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
