CREATE TABLE [Addresses](
	[AddressId] [int] IDENTITY(1,1) NOT NULL,
	[aRegioncode] [int] NOT NULL,
	[aAddress] [nvarchar](100) NOT NULL,
	[MemberId] [int] NOT NULL,
 CONSTRAINT [PK_Addresses] PRIMARY KEY CLUSTERED 
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Addresses]  WITH CHECK ADD  CONSTRAINT [FK_Addresses_Members] FOREIGN KEY([MemberId])
REFERENCES [Members] ([MemberId])
GO
ALTER TABLE [Addresses] CHECK CONSTRAINT [FK_Addresses_Members]
GO
