CREATE TABLE [MyCoupons](
	[McId] [int] IDENTITY(1,1) NOT NULL,
	[DicountId] [int] NOT NULL,
	[MemberId] [int] NOT NULL,
	[isUsed] [bit] NOT NULL,
 CONSTRAINT [PK_MyCoupons] PRIMARY KEY CLUSTERED 
(
	[McId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [MyCoupons]  WITH CHECK ADD  CONSTRAINT [FK_MyCoupons_DiscountCodeCart] FOREIGN KEY([DicountId])
REFERENCES [DiscountCodeCart] ([DiscountID])
GO
ALTER TABLE [MyCoupons] CHECK CONSTRAINT [FK_MyCoupons_DiscountCodeCart]
GO
ALTER TABLE [MyCoupons]  WITH CHECK ADD  CONSTRAINT [FK_MyCoupons_Members] FOREIGN KEY([MemberId])
REFERENCES [Members] ([MemberId])
GO
ALTER TABLE [MyCoupons] CHECK CONSTRAINT [FK_MyCoupons_Members]
GO
