CREATE TABLE [EvenType](
	[EvenTypeID] [int] IDENTITY(1,1) NOT NULL,
	[EvenTypeName] [nvarchar](40) NULL,
 CONSTRAINT [PK_EvenType] PRIMARY KEY CLUSTERED 
(
	[EvenTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
