CREATE TABLE [Result](
	[ResultID] [int] IDENTITY(1,1) NOT NULL,
	[ResultMsg] [nvarchar](500) NULL,
	[ResultImg] [nvarchar](50) NULL,
	[ResultName] [nvarchar](50) NULL,
	[ResultTag] [nvarchar](50) NULL,
 CONSTRAINT [PK_Result] PRIMARY KEY CLUSTERED 
(
	[ResultID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
