CREATE TABLE [BookTag](
	[BtagId] [int] IDENTITY(1,1) NOT NULL,
	[BtagName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_BookTag] PRIMARY KEY CLUSTERED 
(
	[BtagId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
