CREATE TABLE [Relation](
	[SortId] [int] IDENTITY(1,1) NOT NULL,
	[Product_Id] [int] NOT NULL,
	[BookTag_Id] [int] NULL,
 CONSTRAINT [PK_Relation] PRIMARY KEY CLUSTERED 
(
	[SortId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_BookTag] FOREIGN KEY([BookTag_Id])
REFERENCES [BookTag] ([BtagId])
GO
ALTER TABLE [Relation] CHECK CONSTRAINT [FK_Relation_BookTag]
GO
ALTER TABLE [Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_Product] FOREIGN KEY([Product_Id])
REFERENCES [Product] ([ProductID])
GO
ALTER TABLE [Relation] CHECK CONSTRAINT [FK_Relation_Product]
GO
