@{
    Layout = "_FrontLayout";
}

<style>
    .rounded-button {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        background-color: midnightblue;
        border-radius: 25px; /* 圆角半径 */
        border: none;
        transition: background-color 0.3s ease;
    }

        .rounded-button:hover {
            background-color: darkblue; /* 悬停时的背景颜色 */
        }

    /*     body {
                    font-family: Arial, sans-serif;
                    text-align: center;
                } */

    #wheel {
        width: 200px;
        height: 200px;
        background-color: #f0f0f0;
        border-radius: 50%;
        margin: 50px auto;
        position: relative;
    }

    #pointer {
        width: 0;
        height: 0;
        border-left: 20px solid transparent; /* 左侧透明 */
        border-right: 20px solid transparent; /* 右侧透明 */
        border-bottom: 80px solid #5674cc; /* 底部红色 */
        border-bottom-left-radius: 20px; /* 左下圆角 */
        border-bottom-right-radius: 20px; /* 右下圆角 */
        position: fixed;
        top: 150px; /* 距离页面顶部 20px */
        right: 520px; /* 距离页面右侧 20px */
        transform-origin: bottom center; /* 以底部中心为旋转轴心 */
        transition: transform 3s ease;
        z-index: 9999; /* 确保在其他元素上面 */
    }

    .full-screen-image {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        display: none;
        justify-content: center;
        align-items: center;
    }

        .full-screen-image img {
            max-width: 90%;
            max-height: 90%;
            border-radius: 5px;
        }

    .close-btn {
        position: absolute;
        top: 20px;
        right: 20px;
        width: 40px;
        height: 40px;
        background-color: white;
        border-radius: 50%;
        display: none;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 9999; /* 确保在其他元素上面 */
    }

    .discount-code-container {
        position: fixed;
        top: 50%;
        left: 20%;
        transform: translate(-50%, -50%);
        background-color: #ffffff; /* 白色背景 */
        color: #007bff; /* 蓝色文字 */
        padding: 22px; /* 增大容器内边距 */
        border-radius: 14px; /* 增大边框圆角 */
        font-size: 22px; /* 增大字体大小 */
        font-weight: bold; /* 将文字改为粗体 */
        display: none;
    }

        .discount-code-container button {
            font-size: 16px; /* 增大按钮文字大小 */
            margin-left: 20px; /* 添加间距 */
        }

    .begin-container {
        position: fixed;
        top: 30%;
        left: 20%;
        transform: translate(-50%, -50%);
        background-color: #ffffff; /* 白色背景 */
        color: #007bff; /* 蓝色文字 */
        padding: 22px; /* 增大容器内边距 */
        border-radius: 14px; /* 增大边框圆角 */
        font-size: 22px; /* 增大字体大小 */
        font-weight: bold; /* 将文字改为粗体 */
        display: none;
    }

    .thumbnail {
        position: fixed;
        top: 50%; /* 距离顶部的距离，根据需要调整 */
        right: 20px; /* 距离右侧的距离，根据需要调整 */
        transform: translateY(-50%);
        width: 80px; /* 图标的宽度，根据需要调整 */
        height: 100px; /* 图标的高度，根据需要调整 */
        background-color: transparent; /* 图标的背景颜色 */
        /*         border-radius: 100%; /* 让图标呈现圆形 */ */ box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 可选：添加阴影效果 */
        /*         z-index: 9998; /* 确保图标显示在其他内容上方 */ */ cursor: pointer; /* 将鼠标指针设为手型 */
    }


        .thumbnail:hover {
            /* 可选：鼠标悬停时的样式 */
            background-color: transparent;
        }

</style>

<!-- 輪播-->
<div class="row no-gutters mx-0 px-0"
     style="border: 0px solid black; margin-top: 0% ">
    <div class="col-md-4 mx-0 px-0">
        <div style="height: 30%; border: 0px solid black;padding: 25% 10% 0% 10%;">
            <h3>市面唯一書籍精選盲盒</h3>
        </div>

        <div style="
              height: 45%;
              border: 0px solid black;
              padding: 10%;
              text-align: left;
              display: flex;
              padding: 10% 10% 0% 10%;

            ">
            <h6 style="line-height: 1.5">
                總是想不到要買什麼書？<br />只要告訴我們您的偏好，不必再煩惱翻遍書籍堆，我們將為您挑選最適合的書籍，並直接寄送到您的手中。<br />享受並期待收到盲盒的那一刻吧。
            </h6>
        </div>

        <div style="
              height: 25%;
              border: 0px solid black;
              margin: none;
padding: 0%
            ">
            <a asp-controller="Home" asp-action="Intro" style="text-decoration: none;">
                <button class="button1" style="
      width: 100%;
      height: 100%;
      border: none;
      background-color: #a5a58d;
      color: white;
      font-size: 20px;
      text-align: center;
    ">
                    了解購物流程 >>
                </button>
            </a>
        </div>
    </div>
    <div class="col-md-8 mx-0 px-0">
        <header>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="border: 0px solid white">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/images/0001.png"
                             class="d-block w-100"
                             alt="First slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="/images/0002.png"
                             class="d-block w-100"
                             alt="Second slide" />
                    </div>
                    <div class="carousel-item">
                        <img src="/images/0003.png"
                             class="d-block w-100"
                             alt="Third slide" />
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </header>
    </div>
</div>

<!-- 書單列表 -->
<div style="border: 0px solid black; margin-top: 50px ; margin-bottom: 10%" class="container mx-auto">
    <header class="" style="text-align: center">
        <h3 style="margin-bottom: 50px">推薦書單</h3>
    </header>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100">
                <img class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" src="https://www.openbook.org.tw/sites/default/files/styles/article_main_image/public/field/image/bn_w1280_shen_ming_li_kai_zhi_hou_.jpg?itok=UGYs6ocU" alt="...">

                <div class="card-body">
                    <h5 class="card-title">圓山大飯店的金龍噴泉，原來是守護土地和百姓的神社核心？一條龍像背後藏身的百年歷史</h5>
                    <p class="card-text">經過蜿蜒且漫長的車道，終於抵達圓山大飯店的門口。行過大廳，走上寬敞的階梯，兩側壁面懸掛著多件巨幅中國書畫複製品......</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">更新日期：2023.11.20</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="https://d32kak7w9u5ewj.cloudfront.net/media/image/2017/06/234041c6954d4b9ea8084bade87db028.jpg" class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" alt="...">
                <div class="card-body">
                    <h5 class="card-title">人脈創造了香港：把香港接入全球化貿易的跨國商人</h5>
                    <p class="card-text">
                        香港的社會、經濟生態向來相當多元。其中一環是跨越地理的人物、資本、技術和知識。韓墨松（Peter E. Hamilton）的《香港製造：跨太平洋網絡與全球化新史》...
                    </p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">更新日期：2024.03.14</small>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="/images/0001.png" class="card-img-top" alt="..." style="object-fit: cover; width: 100%; height: 200px;">
                <div class="card-body">
                    <h5 class="card-title">擊退空虛寂寞凍！無秩序編輯室孤獨也平安書單</h5>
                    <p class="card-text">聖誕佳節，望見街裡愛人一對對，為此誠意向各位推薦以下書單，以書相伴，一個人過聖誕都不怕空虛寂寞凍，反正每個人到最後都會孤獨，倒不如趁聖誕連假多讀點書......</p>
                </div>
                <div class="card-footer">
                    <small class="text-body-secondary">更新日期：2024.01.28</small>
                </div>
            </div>
        </div>
    </div>
    <div style="text-align: center; padding: 30px">
        <a asp-controller="Showlist" asp-action="Index" class="rounded-button">更多盲盒作品</a>
    </div>
</div>



<!-- 會員訂閱-->
<div style="border: 0px solid black; margin: 0% 10%; position: relative;">
    <img src="images/桌布/心理測驗.png" alt="" style="width: 70%;" />

    <!-- 蓝色圆形按钮 -->
    <div style="position: absolute; top: 35%; right: 8%; transform: translateY(-30%); text-align: center;">
        <a asp-controller="Quiz" asp-action="index">
            <button class="button1" style="
            width: 140px;
            height: 140px;
            border-radius: 50%;
            border: none;
            color: white;
            background-color: midnightblue;
            font-size: 60px;
            padding: 10px; /* 增加内部填充 */
        ">
                GO
            </button>
        </a>
    </div>


    <div style="display: flex; justify-content: space-between; height: 70px;"></div>
</div>


<!-- 某個清單-->
@* <section class="py-5" id="features">
    <header class="" style="text-align: center">
        <h3 style="margin-bottom: 50px">實體活動</h3>
    </header>
    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-7 mb-5 mb-lg-0">
                <h2 class="fw-bolder mb-0">A better way to start building.</h2>
            </div>
            <div class="col-lg-5">
                <div class="row gx-5 row-cols-1 row-cols-md-2">
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-collection"></i>
                        </div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">
                            Paragraph of text beneath the heading to explain the
                            heading. Here is just a bit more text.
                        </p>
                    </div>
                    <div class="col mb-5 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-building"></i>
                        </div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">
                            Paragraph of text beneath the heading to explain the
                            heading. Here is just a bit more text.
                        </p>
                    </div>
                    <div class="col mb-5 mb-md-0 h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-toggles2"></i>
                        </div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">
                            Paragraph of text beneath the heading to explain the
                            heading. Here is just a bit more text.
                        </p>
                    </div>
                    <div class="col h-100">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3">
                            <i class="bi bi-toggles2"></i>
                        </div>
                        <h2 class="h5">Featured title</h2>
                        <p class="mb-0">
                            Paragraph of text beneath the heading to explain the
                            heading. Here is just a bit more text.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> *@

<!-- 實體活動-->
<section class="py-1" style="background-color: #b7b7a4">
    <div class="container px-5 my-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-8 col-xl-6">
                <div class="text-center" style="color: white">
                    <h2 class="fw-bolder" style="margin-bottom: 20px">實體活動</h2>
                </div>
            </div>
        </div>
        <div class="row gx-5">
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0"
                     style="background-color: #eeece5">
                    <img class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" src="/images/親子說故事.jpg" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="color: white">
                            實體活動
                        </div>
                        <a class="text-decoration-none link-dark stretched-link"
                           href="#!"><h5 class="card-title mb-3">親子說故事</h5></a>
                        <p class="card-text mb-0">
                            帶著您的孩子來參加我們的親子說故事活動！這是一個促進家庭互動、啟發想像力的活動，讓您和您的孩子一起度過愉快的時光。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0"
                     style="background-color: #eeece5">
                    <img class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" src="/images/二手書交換.jpg" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="color: white">
                            二手書
                        </div>
                        <a class="text-decoration-none link-dark stretched-link"
                           href="#!"><h5 class="card-title mb-3">二手書交換</h5></a>
                        <p class="card-text mb-0">
                            參加我們的二手書交換活動，與其他書籍愛好者分享您喜歡的書籍，同時也發現新的閱讀寶藏！這是一個環保、有趣的活動，讓您可以在書海中漫遊。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 mb-5">
                <div class="card h-100 shadow border-0"
                     style="background-color: #eeece5">
                    <img class="card-img-top" style="object-fit: cover; width: 100%; height: 200px;" src="/images/二手書收購.jpg" alt="...">
                    <div class="card-body p-4">
                        <div class="badge bg-primary bg-gradient rounded-pill mb-2" style="color: white">
                            二手書
                        </div>
                        <a class="text-decoration-none link-dark stretched-link"
                           href="#!">
                            <h5 class="card-title mb-3">
                                二手書收購
                            </h5>
                        </a>
                        <p class="card-text mb-0">
                            如果您有不需要的二手書，別猶豫！參加我們的二手書收購活動，讓您的書找到新的歸宿。這是一個有助於您整理書籍的好機會，同時也為其他人提供了閱讀的機會。
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <div style="text-align: center">
            <a asp-controller="Eventfront" asp-action="List" class="rounded-button">更多線下活動</a>
        </div>
</section>

<body>
    <body>
        <img class="thumbnail"
             src="~/images/點擊領優惠.png"
             alt="Description of the image" />

        <div class="full-screen-image">
            <div class="close-btn">&times;</div>
            <img src="~/images/IMG_6903.PNG" alt="Description of the image" />
            <div id="fullScreenBtnSpin" style="display: none"></div>

            <div class="begin-container">
                <div id="btnSpin">開始轉盤</div>
                <div id="result"></div>
            </div>

            <div id="">
                <div id="pointer"></div>
            </div>

            <div class="discount-code-container">
                <div id="discountCode"></div>
                <button id="btnCopyDiscountCode">複製折扣碼</button>
            </div>
        </div>
    </body>

    <script>
        const wheel = document.getElementById("wheel");
        const pointer = document.getElementById("pointer");
        const btnSpin = document.getElementById("btnSpin");
        const btnCloseFullScreen = document.querySelector(".close-btn");
        const result = document.getElementById("result");
        const discountCodeContainer = document.querySelector(
            ".discount-code-container"
        );
        const fullScreenImage = document.querySelector(".full-screen-image");
        const thumbnailImages = document.querySelectorAll(".thumbnail");
        const discountCodeDisplay = document.getElementById("discountCode");
        const btnCopyDiscountCode = document.getElementById(
            "btnCopyDiscountCode"
        );
        const beginContainer = document.querySelector(".begin-container");
        let isGamePlayed = false;

        btnSpin.addEventListener("click", () => {
            if (!isGamePlayed) {
                const deg = Math.floor(Math.random() * 360) + 360 * 5; // 5圈
                pointer.style.transform = `rotate(${deg}deg)`;
                setTimeout(() => {
                    showResult();
                }, 3000);
                isGamePlayed = true;
            } else {
                alert("您已經玩過一次了，趕快複製折扣碼吧！");
            }
        });

        thumbnailImages.forEach((thumbnail) => {
            thumbnail.addEventListener("click", () => {
                fullScreenImage.style.display = "flex";
                discountCodeContainer.style.display = "flex";
                btnCloseFullScreen.style.display = "flex";
                beginContainer.style.display = "flex"; // Show the begin container
            });
        });

        btnCloseFullScreen.addEventListener("click", () => {
            fullScreenImage.style.display = "none";
            discountCodeContainer.style.display = "none";
            btnCloseFullScreen.style.display = "none";
            beginContainer.style.display = "none"; // Hide the begin container
        });

        btnCopyDiscountCode.addEventListener("click", () => {
            copyDiscountCodeToClipboard();
        });

        function showResult() {
            const discountCode = generateDiscountCode();
            result.textContent = `恭喜您獲得首購折扣碼，享全站89折優惠乙次`;
            discountCodeDisplay.textContent = discountCode;
            // 将按钮的文字设置为空字符串，使其消失
            btnSpin.textContent = "";
        }

        function generateDiscountCode() {
            const characters = "ABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789";
            let discountCode = "";
            for (let i = 0; i < 6; i++) {
                const randomIndex = Math.floor(Math.random() * characters.length);
                discountCode += characters[randomIndex];
            }
            return discountCode;
        }

        function copyDiscountCodeToClipboard() {
            const discountCode = discountCodeDisplay.textContent;

            // 确保已经生成了折扣码并且显示在页面上
            if (discountCode) {
                navigator.clipboard
                    .writeText(discountCode)
                    .then(() => {
                        alert("折扣碼已經成功複製到剪貼簿");
                    })
                    .catch((err) => {
                        console.error("未複製成功 ", err);
                    });
            } else {
                alert("請先點擊開始轉盤獲取折扣碼！");
            }
        }
    </script>
</body>
