@model bookfortable.Models.OrderListWrap

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>OrderList</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Oid" />
            <div class="form-group">
                <label asp-for="Oidramd" class="control-label"></label>
                <input asp-for="Oidramd" class="form-control" />
                <span asp-validation-for="Oidramd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDetailId" class="control-label"></label>
                <select asp-for="OrderDetailId" class="form-control" asp-items="ViewBag.OrderDetailId"></select>
                <span asp-validation-for="OrderDetailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderDate" class="control-label"></label>
                <input asp-for="OrderDate" class="form-control" />
                <span asp-validation-for="OrderDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsMember" class="control-label"></label>
                <br />
                <span class="form-check">
                    <input asp-for="IsMember" class="form-check-input" type="radio" name="IsMemberDiscount" id="IsMemberDiscount" value="True">
                    <label class="form-check-label" for="IsMemberDiscount">是</label>
                </span>
                <span class="form-check">
                    <input asp-for="IsMember" class="form-check-input" type="radio" name="IsMemberDiscount" id="IsMemberDiscount" value="Fault">
                    <label class="form-check-label" for="IsMemberDiscount">否</label>
                </span>
            </div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayDate" class="control-label"></label>
                <input asp-for="PayDate" class="form-control" />
                <span asp-validation-for="PayDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsPayed" class="control-label"></label>
                <select asp-for="IsPayed" class="form-control">
                    <option value="True">已付款</option>
                    <option value="Fault">尚未付款</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="OrderTotal" class="control-label"></label>
                <input asp-for="OrderTotal" class="form-control" />
                <span asp-validation-for="OrderTotal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingTimeReq" class="control-label"></label>
                <input asp-for="ShippingTimeReq" class="form-control" />
                <span asp-validation-for="ShippingTimeReq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderState" class="control-label"></label>
                <select asp-for="OrderState" class="form-control">
                    <option value="訂單成立">訂單成立</option>
                    <option value="檢貨中">檢貨中</option>
                    <option value="已出貨">已出貨</option>
                    <option value="訂單完成">訂單完成</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="ShippingMethod" class="control-label"></label>
                <select asp-for="ShippingMethod" class="form-control">
                    <option value="宅配">宅配</option>
                    <option value="7-11純取貨">7-11純取貨</option>
                    <option value="7-11取貨付款">7-11取貨付款</option>
                    <option value="郵局i郵箱">郵局i郵箱</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Is711Pay" class="control-label"></label>
                <br />
                <span class="form-check">
                    <input asp-for="Is711Pay" class="form-check-input" type="radio" name="Is711Pay" id="Is711Pay" value="True">
                    <label class="form-check-label" for="Is711Pay">是</label>
                </span>
                <span class="form-check">
                    <input asp-for="Is711Pay" class="form-check-input" type="radio" name="Is711Pay" id="Is711Pay" value="Fault">
                    <label class="form-check-label" for="Is711Pay">否</label>
                </span>
                
            </div>
            <div class="form-group">
                <label asp-for="Store711" class="control-label"></label>
                <input asp-for="Store711" class="form-control" />
                <span asp-validation-for="Store711" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerPhone" class="control-label"></label>
                <input asp-for="CustomerPhone" class="form-control" />
                <span asp-validation-for="CustomerPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerEmail" class="control-label"></label>
                <input asp-for="CustomerEmail" class="form-control" />
                <span asp-validation-for="CustomerEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd1" class="control-label"></label>
                <input asp-for="CustomerAdd1" class="form-control" />
                <span asp-validation-for="CustomerAdd1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd2" class="control-label"></label>
                <input asp-for="CustomerAdd2" class="form-control" />
                <span asp-validation-for="CustomerAdd2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerAdd3" class="control-label"></label>
                <input asp-for="CustomerAdd3" class="form-control" />
                <span asp-validation-for="CustomerAdd3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingName" class="control-label"></label>
                <input asp-for="ShippingName" class="form-control" />
                <span asp-validation-for="ShippingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingPhone" class="control-label"></label>
                <input asp-for="ShippingPhone" class="form-control" />
                <span asp-validation-for="ShippingPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd1" class="control-label"></label>
                <input asp-for="ShippingAdd1" class="form-control" />
                <span asp-validation-for="ShippingAdd1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd2" class="control-label"></label>
                <input asp-for="ShippingAdd2" class="form-control" />
                <span asp-validation-for="ShippingAdd2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingAdd3" class="control-label"></label>
                <input asp-for="ShippingAdd3" class="form-control" />
                <span asp-validation-for="ShippingAdd3" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phinvoice" class="control-label"></label>
                <input asp-for="Phinvoice" class="form-control" />
                <span asp-validation-for="Phinvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cpinvoice" class="control-label"></label>
                <input asp-for="Cpinvoice" class="form-control" />
                <span asp-validation-for="Cpinvoice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cptitle" class="control-label"></label>
                <input asp-for="Cptitle" class="form-control" />
                <span asp-validation-for="Cptitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayMethod" class="control-label"></label>
                <br />
                <span class="form-check">
                    <input asp-for="PayMethod" class="form-check-input" type="radio" name="PayMethod" id="PayMethod" value="信用卡">
                    <label class="form-check-label" for="PayMethod">信用卡</label>
                </span>
                <span class="form-check">
                    <input asp-for="PayMethod" class="form-check-input" type="radio" name="PayMethod" id="PayMethod" value="ATM轉帳">
                    <label class="form-check-label" for="Is711Pay">ATM轉帳</label>
                </span>
                <span class="form-check">
                    <input asp-for="PayMethod" class="form-check-input" type="radio" name="PayMethod" id="PayMethod" value="LINE PAY">
                    <label class="form-check-label" for="PayMethod">LINE PAY</label>
                </span>
                <span class="form-check">
                    <input asp-for="PayMethod" class="form-check-input" type="radio" name="PayMethod" id="PayMethod" value="7-11取貨付款">
                    <label class="form-check-label" for="Is711Pay">7-11取貨付款</label>
                </span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountCode" class="control-label"></label>
                <input asp-for="DiscountCode" class="form-control" />
                <span asp-validation-for="DiscountCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiscountPrice" class="control-label"></label>
                <input asp-for="DiscountPrice" class="form-control" />
                <span asp-validation-for="DiscountPrice" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShippingFeed" class="control-label"></label>
                <input asp-for="ShippingFeed" class="form-control" />
                <span asp-validation-for="ShippingFeed" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Points" class="control-label"></label>
                <input asp-for="Points" class="form-control" />
                <span asp-validation-for="Points" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrderListNote" class="control-label"></label>
                <input asp-for="OrderListNote" class="form-control" />
                <span asp-validation-for="OrderListNote" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
