@model Bookfortable.Models.Event

@{
    ViewData["Title"] = "Create";
}

<h1>新增活動</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group" hidden>
                <label asp-for="EventId" class="control-label"></label>
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventName" class="control-label">活動名稱</label>
                <input asp-for="EventName" class="form-control" />
                <span asp-validation-for="EventName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventDate" class="control-label">活動日期</label>
                <input asp-for="EventDate" class="form-control" />
                <span asp-validation-for="EventDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventType" class="control-label">活動類型</label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventAddress" class="control-label">活動地址</label>
                <input asp-for="EventAddress" class="form-control" />
                <span asp-validation-for="EventAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Eventhost" class="control-label">活動主辦人</label>
                <input asp-for="Eventhost" class="form-control" />
                <span asp-validation-for="Eventhost" class="text-danger"></span>

                <!-- 在表單中加入下拉式選單
                <div class="form-group">
                    <label asp-for="SingUpId" class="control-label"></label>
                    <select asp-for="SingUpId" asp-items="@(ViewBag.SingUpsList)" class="form-control"></select>
                    <span asp-validation-for="SingUpId" class="text-danger"></span>
                </div> -->

            </div>
            <div class="form-group">
                <input type="submit" value="新增" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">上一頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
