@model bookfortable.Models.CEventWrap

@{
    ViewData["Title"] = "Create";
}

<h1>新增報名</h1>

<h4></h4>
<hr />
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Bootstrap demo</title>
        <link href="~/vendor/" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
   


    <script>
        // Add this script to initialize the datepicker
        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });
        
    });

    </script>

</head>
<body>
  
</body>
<div class="row">
    <div class="form-group">
       @*  <label asp-for="SingUps.EventName" class="control-label"></label> *@

        @* <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Event Name
            </button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"> *@


                @if(ViewBag.SignUpsList!= null)
                {
                    @foreach (var item in ViewBag.SignUpsList)
                    {
                        <a class="dropdown-item" href="#" data-value="@item.Value">@item.Text</a>
                    }

             }

            </div>

            <div class="form-group">
        <label asp-for="S_EventName" class="control-label">活動名稱</label>
                <div class="dropdown" data-input-id="selectedEventNameInput">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="eventNameDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        請選擇活動名稱
                    </button>

                    <div class="dropdown-menu" aria-labelledby="eventNameDropdown">
                        <a class="dropdown-item" href="#" data-value="EventName1">二手書交換</a>
                        <a class="dropdown-item" href="#" data-value="EventName2">二手書收購</a>
                        <a class="dropdown-item" href="#" data-value="EventName3">親子說故事</a>
                    </div>

                    <input asp-for="S_EventName" type="hidden" id="selectedEventNameInput" />
            <span asp-validation-for="S_EventName" class="text-danger">請選擇活動名稱(必填)</span>
                </div>
            </div>


    <script>
        // 使用 jQuery，綁定點擊事件處理選項選中
        $('.dropdown-menu').on('click', '.dropdown-item', function () {
            // 獲取點擊的選項的值
            var selectedValue = $(this).data('value');

            // 將選中的值設定到對應的 input 元素中
            var dropdown = $(this).closest('.dropdown');
            var inputId = dropdown.data('input-id');
            $('#' + inputId).val(selectedValue);

            // 修改下拉式選單顯示的文本為選中的值
            dropdown.find('.dropdown-toggle').text($(this).text());

            // 移除先前選中的項目的樣式
            dropdown.find('.dropdown-item.selected').removeClass('selected');

            // 將被選中的項目添加樣式
            $(this).addClass('selected');
        });
    </script>

    <style>
    .dropdown-item.selected {
        background-color: #007bff; /* Change this to your desired highlight color */
        color: #fff; /* Change this to your desired text color */
    }
</style>




         @*   <div class="form-group">
                <label asp-for="S_EventId" class="control-label"></label>
                <select asp-for="S_EventId" class ="form-control" asp-items="ViewBag.EventId"></select>
            </div> *@


    <div class="form-group">
        <label asp-for="S_EventDate" class="control-label">活動日期</label>
        <div class="input-group date">
            <input asp-for="S_EventDate" class="form-control datepicker" />
            <div class="input-group-append">
                <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
        </div>
        <span asp-validation-for="S_EventDate" class="text-danger">請填寫活動日期(必填)</span>
    </div>


            <div class="form-group">
                <label asp-for="S_EventAddress" class="control-label">活動地點</label>
                <div class="dropdown" data-input-id="selectedEventAddressInput">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="eventAddressDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        請選擇活動地點
                    </button>

                    <div class="dropdown-menu" aria-labelledby="eventAddressDropdown">
                        <a class="dropdown-item" href="#" data-value="Address1">高雄市前金區中正四路211號8號樓之1</a>
                        <a class="dropdown-item" href="#" data-value="Address2">台中市南屯區公益路二段51號18樓</a>
                        <a class="dropdown-item" href="#" data-value="Address3">台北市大安區和平東路二段106號11樓</a>
                    </div>

                    <input asp-for="S_EventAddress" type="hidden" id="selectedEventAddressInput" />
                    <span asp-validation-for="S_EventAddress" class="text-danger">請選擇活動地點(必填)</span>
                </div>
            </div>

   
            <script>
                // 使用 jQuery，綁定點擊事件處理選項選中
                $('.dropdown-menu').on('click', '.dropdown-item', function () {
                    // 獲取點擊的選項的值
                    var selectedValue = $(this).data('value');

                    // 將選中的值設定到對應的 input 元素中
                    var dropdown = $(this).closest('.dropdown');
                    var inputId = dropdown.data('input-id');
                    $('#' + inputId).val(selectedValue);

                    // 修改下拉式選單顯示的文本為選中的值
                    dropdown.find('.dropdown-toggle').text($(this).text());
                });
            </script>


            <div class="form-group">
                <label asp-for="Eventhost" class="control-label">活動承辦人</label>
                <div class="dropdown" data-input-id="selectedEventHostInput">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="eventHostDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        請選擇活動承辦人
                    </button>

                    <div class="dropdown-menu" aria-labelledby="eventHostDropdown">
                        <a class="dropdown-item" href="#" data-value="Host1">陳大美</a>
                        <a class="dropdown-item" href="#" data-value="Host2">李玟玟</a>
                        <a class="dropdown-item" href="#" data-value="Host3">劉書青</a>
                        <!-- Add more items as needed -->
                    </div>

                    <input asp-for="Eventhost" type="hidden" id="selectedEventHostInput" />
                    <span asp-validation-for="Eventhost" class="text-danger">請選擇活動承辦人</span>
                </div>
            </div>

    </div>
  
        <script>
            // 使用 jQuery，綁定點擊事件處理選項選中
            $('.dropdown-menu').on('click', '.dropdown-item', function () {
                // 獲取點擊的選項的值
                var selectedValue = $(this).data('value');

                // 將選中的值設定到對應的 input 元素中
                var dropdown = $(this).closest('.dropdown');
                var inputId = dropdown.data('input-id');
                $('#' + inputId).val(selectedValue);

                // 修改下拉式選單顯示的文本為選中的值
                dropdown.find('.dropdown-toggle').text($(this).text());
            });
        </script>


            <div class="form-group">
                <label asp-for="EventType" class="control-label">活動類型</label>
    <div class="dropdown" data-input-id="selectedEventNameInput">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="eventNameDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            請選擇活動名稱
        </button>
        <div class="dropdown-menu" aria-labelledby="eventNameDropdown">
            <a class="dropdown-item" href="#" data-value="EventName1">二手書交換</a>
            <a class="dropdown-item" href="#" data-value="EventName2">二手書收購</a>
            <a class="dropdown-item" href="#" data-value="EventName3">親子說故事</a>
        </div>

        <input asp-for="S_EventName" type="hidden" id="selectedEventNameInput" />
        <span asp-validation-for="S_EventName" class="text-danger">請選擇活動名稱(必填)</span>
    </div>

    <script>
        // 使用 jQuery，綁定點擊事件處理選項選中
        $('.dropdown-menu').on('click', '.dropdown-item', function () {
            // 獲取點擊的選項的值
            var selectedValue = $(this).data('value');

            // 將選中的值設定到對應的 input 元素中
            var dropdown = $(this).closest('.dropdown');
            var inputId = dropdown.data('input-id');
            $('#' + inputId).val(selectedValue);

            // 修改下拉式選單顯示的文本為選中的值
            dropdown.find('.dropdown-toggle').text($(this).text());
        });
    </script>
<div>
    <!-- 其他表單元素 -->

 <button type="button" class="btn btn-primary" onclick="confirmSignUp()">確認報名</button>
  <button type="button" class="btn btn-danger" onclick="cancelSignUp()"> 取消報名 </button>
</div>

<script>

    function confirmSignUp() {
        // 獲取已選擇的活動相關資訊
        var eventName = $('#selectedEventNameInput').val();
        var eventDate = $('#S_EventDate').val();
        var eventAddress = $('#selectedEventAddressInput').val();
        var eventHost = $('#selectedEventHostInput').val();
        var eventType = $('#selectedEventTypeInput').val();

        // 進行確認報名的操作
        // 發送後端請求進行實際的報名動作
        $.ajax({
            type: 'POST',
            url: '/SignUp/Create', // 請替換成實際的控制器和動作
            data: {
                S_EventName: eventName,
                S_EventDate: eventDate,
                S_EventAddress: eventAddress,
                Eventhost: eventHost,
                EventType: eventType,
                SingUps: {
                    SignUpId: 0,
                    MemberId: 1,
                    // 根據您的模型屬性提供其他值
                },
                EventTypeId: 1
            },
            success: function (response) {
                if (response.success) {
                    // 报名成功，修改網頁顯示
                    alert('報名成功！');
                    // 或者其他你希望顯示的報名成功的操作
                } else {
                    // 报名失敗的處理
                    alert('報名失敗！');
                }
            },
            error: function () {
                // 請求失敗的處理
                alert('請求失敗！');
            }
        });
    }

    function cancelSignUp() {
        // 獲取已選擇的活動相關資訊
        var eventName = $('#selectedEventNameInput').val();

        // 創建一個包含取消報名信息的對象
        var cancelSignUpData = {
            S_EventName: eventName,
            SingUps: {
                SignUpId: 0,
                MemberId: 1,
                // 根據您的模型屬性提供其他值
            },
            EventTypeId: 1
        };

        // 進行取消報名的操作
        // 發送後端請求進行實際的取消報名動作
        $.ajax({
            type: 'POST',
            url: '/SignUp/CancelSignUp', // 請替換成實際的控制器和動作
            contentType: 'application/json', // 告訴後端傳遞的數據類型是 JSON
            data: JSON.stringify(cancelSignUpData), // 將 JavaScript 對象轉換為 JSON 字符串
            success: function (response) {
                if (response.success) {
                    // 取消報名成功，修改網頁顯示
                    alert('取消報名成功！');
                    // 或者其他你希望顯示的取消報名成功的操作
                } else {
                    // 取消報名失敗的處理
                    alert('取消報名失敗！');
                }
            },
            error: function () {
                // 請求失敗的處理
                alert('請求失敗！');
            }
        });
    }

</script>



<div>
    <a asp-action="List">上一頁</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
