@model Bookfortable.Models.Member

@{
    ViewData["Title"] = "Edit";
}

<h1>會員資料修改</h1>

<h4>請輸入會員資料</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden"  name="MemberId" value="@Model.MemberId"/>
            <div class="form-group">
                <label asp-for="MAccount" class="control-label"></label>
                <input asp-for="MAccount" class="form-control" />
                <span asp-validation-for="MAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPassword" class="control-label"></label>
                <input asp-for="MPassword" class="form-control" />
                <span asp-validation-for="MPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MName" class="control-label"></label>
                <input asp-for="MName" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MMail" class="control-label"></label>
                <input asp-for="MMail" class="form-control" />
                <span asp-validation-for="MMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MFilepic" class="control-label"></label>
                <input asp-for="MFilepic" class="form-control" />
                <span asp-validation-for="MFilepic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCarrier" class="control-label"></label>
                <input asp-for="MCarrier" class="form-control" />
                <span asp-validation-for="MCarrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPoints" class="control-label"></label>
                <input asp-for="MPoints" class="form-control" />
                <span asp-validation-for="MPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <a asp-action="List" class="btn btn-danger me-3">取消並返回一覽</a><input type="submit" value="送出並儲存" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@* <div>
    <a asp-action="List">取消</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
