@model Bookfortable.Models.Member

@{
    ViewData["Title"] = "giveme";
}

<h1>giveme</h1>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="giveme">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <input asp-for="MemberId" class="form-control" />
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MAccount" class="control-label"></label>
                <input asp-for="MAccount" class="form-control" />
                <span asp-validation-for="MAccount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPassword" class="control-label"></label>
                <input asp-for="MPassword" class="form-control" />
                <span asp-validation-for="MPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MName" class="control-label"></label>
                <input asp-for="MName" class="form-control" />
                <span asp-validation-for="MName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MMail" class="control-label"></label>
                <input asp-for="MMail" class="form-control" />
                <span asp-validation-for="MMail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MFilepic" class="control-label"></label>
                <input asp-for="MFilepic" class="form-control" />
                <span asp-validation-for="MFilepic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MCarrier" class="control-label"></label>
                <input asp-for="MCarrier" class="form-control" />
                <span asp-validation-for="MCarrier" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MPoints" class="control-label"></label>
                <input asp-for="MPoints" class="form-control" />
                <span asp-validation-for="MPoints" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MSubscription" class="control-label"></label>
                <input asp-for="MSubscription" class="form-control" />
                <span asp-validation-for="MSubscription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

